body { 
    font-family: Arial, sans-serif; 
    max-width: 400px; 
    margin: auto; 
    text-align: center;
    background-color: rgba(43, 201, 201, 0.781);
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    margin: 5px 0;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

button:first-of-type {
    background-color: rgb(240, 57, 157);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

button:last-of-type {
    background-color: rgb(91, 219, 112);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
